<br>
<h1>Personalise Form</h1>
<br>

<br>
<!-- Loading Status: {{loadings | json}} -->
<ng-container *ngIf="loadings">
    <mat-spinner class="loading-spinner"></mat-spinner>
</ng-container>
<div *ngIf="!loadings">
<form [formGroup]="personalForm" (ngSubmit)="onSubmitPersonalForm();">
  <!--Univeristy-->
  <div class="form-group">
    <label for="university">University</label>
    <select class="form-control" id="university" formControlName="universityName">
      <option value="" disabled>Select Your University...</option>
      <option *ngFor="let university of uNames" [value]="university">{{university}}</option>
    </select>
  </div>

  <!--College-->
  <div class="form-group">
      <label for="college">College</label>
      <select class="form-control" id="college" formControlName="collegeName">
          <option value="" disabled>Select Your College...</option>
        <option *ngFor="let college of cNames" [value]="college">{{college}}</option>
      </select>
    </div>

    <!--Branch-->
  <div class="form-group">
      <label for="branch">Branch/Stream</label>
      <select class="form-control" id="branch" formControlName="branchName">
        <option value="" disabled>Select Your Branch/Stream...</option>
        <option *ngFor="let branch of bNames" [value]="branch">{{branch}}</option>
      </select>
    </div>

    <!--Semester-->
  <div class="form-group">
      <label for="semester">Semester</label>
      <select class="form-control" id="semester" formControlName="semesterName">
        <option value="" disabled>Select Your Semester...</option>
        <option *ngFor="let semester of sNames" [value]="semester">{{semester}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="subject">Subjects</label>
      <select class="form-control" id="subject" formControlName="subjectName">
        <option value="" disabled>Add your subjects...</option>
        <option *ngFor="let subject of subNames" [value]="subject">{{subject}}</option>
      </select>
      <br>
      <button type="button" (click)="addSubject();" class="btn btn-secondary">Add</button>
      <br>
      <br>
      <h3>Your Subjects:</h3>
      <div class="selectedSub" *ngIf="mySubjects.length > 0">
        <ul>
          <li *ngFor="let selectedSubject of mySubjects"><span>{{selectedSubject}}</span>  <button (click)="removeSubject(selectedSubject)" class="removeButton">X</button></li>
        </ul>
      </div>
    </div>
    <!--Buttons-->
    <div class="form-group">
      <button type="submit" class="btn btn-primary" style="float: right;">Save</button>
    </div>
</form>
</div>

<br>
<br>
<h3>Personal Form Values</h3>
<br>
University: {{universityName}} <br>
College: {{collegeName}} <br>
Branch: {{branchName}} <br>
Semester: {{semesterName}} <br>
Subject: {{subjectName}} <br>
<br>
<br> 

<h1>Testing Loader with Async Response</h1>
<div  *ngIf="user | async; let user; else loading">
    <h2>{{(user)?.firstName}} {{(user)?.lastName}}</h2>
    <dl>
      <dt>Age:</dt>
      <dd>{{(user)?.age}}</dd>
  
      <dt>Height:</dt>
      <dd>{{(user)?.height}}</dd>
  
      <dt>Mass:</dt>
      <dd>{{(user)?.mass}}</dd>
  
      <dt>Home World:</dt>
      <dd>{{(user)?.homeworld}}</dd>
    </dl>
  </div>
  <ng-template #loading><mat-spinner class="loading-spinner"></mat-spinner></ng-template>