.form-group>label{
    font-weight: 600;
}

.selectedSub>ul>li>p{
    width: 14rem;
    position: relative;
    top: 0.4em;
}

.selectedSub>ul>li{
    margin-bottom: 1rem;
    line-height: 1rem;
}

.removeButton{
}

.loading-spinner{
    position: relative;
    left: 30rem;
}