<h2>Test Data</h2>
<p>
  {{newData | json}}
</p>

<button (click)="showData2();">{{dataStatus2}}</button>
<br>
<div *ngIf="showdata2">
  <strong>Colleges:</strong> {{newData.university.colleges}} <br>
  <strong>Branches:</strong> {{newData.university.branches}} <br>
  <h3>Subjects</h3>
  <strong>Branch 1:</strong> {{newData.university.subjects[0].branch1 | json}} <br><br>
  <strong>Branch 2:</strong> {{newData.university.subjects[1].branch2 | json}} <br><br>
</div> 
<hr>
<br>
<br>
<h1>Personalise Form</h1>

<form>
  <!--Univeristy-->
  <div class="form-group">
    <label for="university">University</label>
    <select class="form-control" id="university">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <!--College-->
  <div class="form-group">
      <label for="college">College</label>
      <select class="form-control" id="college">
        <option *ngFor="let opt of universities" [value]='opt'>{{opt}}</option>
      </select>
    </div>

    <!--Branch-->
  <div class="form-group">
      <label for="branch">Branch/Stream</label>
      <select class="form-control" id="branch">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <!--Semester-->
  <div class="form-group">
      <label for="semester">Semester</label>
      <select class="form-control" id="semester">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <!--Buttons-->
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
