<div class="container">
<div class="row">
  <div id="reactive-heading" class="col-md-12 text-center">
    <h2>Reactive form example</h2>
  </div>
  <div id="reactive-form-example" class="col-md-12 text-center">
  
    Name: <input type="text" [formControl]="nameControl"> &nbsp;&nbsp; <button mat-raised-button color="primary" (click)='changeName()'>Change Value</button>
    <br>
    <br>
    Value Change: {{ nameControl.value }}
  
  </div>
</div>

<!--Profile Form: FORM GROUP-->
<div class="row">
  <div id="profile-form" class="col-md-12">
    <form [formGroup]='profileForm' (ngSubmit)='onSubmit();'>
      <div></div>
      <h3>Personal Details</h3>
      <div id="personal">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name='firstName' formControlName='firstName' required><br>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        First Name is required.
      </div>
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" id="lastName" formControlName='lastName' required><br>
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
          Last Name is required.
        </div>
    </div>
    <div id="address" formGroupName='address'>
      <h3>Address</h3>
      <label for="street">Street:</label>
      <input type="text" name="street" id="street" formControlName='street'><br>
      <label for="city">City:</label>
      <input type="text" name="city" id="city" formControlName='city'><br>
      <label for="pincode">Pincode:</label>
      <input type="text" name="pincode" id="pincode" formControlName='pincode'><br>
    </div>
    <div id="alias" formArrayName='aliases'>
      <h3>Aliases</h3>
      <label>Add Alias:</label><button type="button" mat-raised-button (click)='addAlias();' color="primary">+</button><br>
      <br>
      <div *ngFor='let address of aliases.controls; let i=index'>
      <label for="alias">Alias</label>
        <input type="text" [formControlName]='i'>
    </div>
    </div>
    <button mat-raised-button color='primary' type='submit' [disabled]='profileForm.invalid'>Submit</button>
    </form>
  </div>
  <div class="col-md-12">
    <!-- <p>
      Form Status: {{ profileForm2.status }}<br>
      Form Value: {{ profileForm2.value | json }}<br>
    </p> -->
  </div>
</div>
</div>
