<div class="container">
<div class="row">
  <div id="reactive-heading" class="col-md-12 text-center">
    <h2>Reactive form example</h2>
  </div>
  <div id="reactive-form-example" class="col-md-12 text-center">
  
    Name: <input type="text" [formControl]="nameControl"> &nbsp;&nbsp; <button mat-raised-button color="primary" (click)='changeName()'>Change Value</button>
    <br>
    <br>
    Value Change: {{ nameControl.value }}
  
  </div>
</div>

<div>
  <hr>
  <br>
  <h2>Cross Field Validations in Reactive Forms</h2>
</div>

<!--Cross Field Validation in reactive forms-->
<div class="row">
  <div id="heroForm" class="col-md-12">
      <!--If form is not submitted-->
  
          <form [formGroup]='heroForm' (ngSubmit)="heroForm.valid && onSubmitHero(heroForm.value);">
            <div class="form-group">
              <label for="name">Name</label>
              <!-- Defining a name attribute is a requirement when using [(ngModel)] in combination with a form.-->
              <!--using template variables for Validation errors: #name='ngModel' -->
              <input type="text" class="form-control" id="name" formControlName="name" required minlength="3" appForbiddenName="bob">
              
              <!--Template driven validations for various types pf errors-->
              <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                  Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                  Name must be at least 3 characters long.
                </div>
                <div *ngIf="name.errors.forbiddenName">
                  Name cannot be Bob or bob.
                </div>
              </div> -->
            </div>
  
            <div class="form-group">
              <label for="alterEgo">Alter Ego</label>
              <input type="text" class="form-control" id="alterEgo" formControlName="alterEgo">
              <div *ngIf="alterEgo.pending">Validating...</div>

              <!--validation Message: Unique Alter Ego-->
              <div *ngIf="alterEgo.invalid" class="alert alert-danger">
                <div *ngIf="alterEgo.errors?.appAlterEgo">
                    Alter ego is already taken.
                </div>
              </div>

              <!--Validation message: Name cannot match alter ego -->
              <div *ngIf="heroForm.errors?.identityRevealed && (heroForm.touched || heroForm.dirty)" class="cross-validation-error-message alert alert-danger">
                  Name cannot match alter ego.
              </div>
            </div>
  
            <div class="form-group">
              <label for="power">Hero Power</label>
              <select class="form-control" id="power" formControlName="power" required>
                <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
              </select>
            </div>
  
            <!--New Hero -->
            <!--You have to clear all of the flags imperatively, which you can do by calling the form's reset() method after calling the newHero() method.-->
            <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-success" type="submit" [disabled]="heroForm.invalid">Submit</button>
  
          </form>
  </div>

</div>

<hr>
<br>

<!--Profile Form: FORM GROUP-->
<div class="row">
  <div id="profile-form" class="col-md-12">
    <form [formGroup]='profileForm' (ngSubmit)='onSubmit();'>
      <div></div>
      <h3>Personal Details</h3>
      <div id="personal">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name='firstName' formControlName='firstName' required><br>
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        First Name is required.
      </div>
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" id="lastName" formControlName='lastName' required><br>
      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
          Last Name is required.
        </div>
    </div>
    <div id="address" formGroupName='address'>
      <h3>Address</h3>
      <label for="street">Street:</label>
      <input type="text" name="street" id="street" formControlName='street'><br>
      <label for="city">City:</label>
      <input type="text" name="city" id="city" formControlName='city'><br>
      <label for="pincode">Pincode:</label>
      <input type="text" name="pincode" id="pincode" formControlName='pincode'><br>
    </div>
    <div id="alias" formArrayName='aliases'>
      <h3>Aliases</h3>
      <label>Add Alias:</label><button type="button" mat-raised-button (click)='addAlias();' color="primary">+</button><br>
      <br>
      <div *ngFor='let address of aliases.controls; let i=index'>
      <label for="alias">Alias</label>
        <input type="text" [formControlName]='i'>
    </div>
    </div>
    <button mat-raised-button color='primary' type='submit' [disabled]='profileForm.invalid'>Submit</button>
    </form>
  </div>
  <div class="col-md-12">
    <!-- <p>
      Form Status: {{ profileForm2.status }}<br>
      Form Value: {{ profileForm2.value | json }}<br>
    </p> -->
  </div>
</div>
</div>
