<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">PDF Viewer</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--PDF VIEWER-->
        <div id="viewer" class="col-md-9 col-sm-12">
            <!--PDF Control Section-->
            <div id="pdf-control" *ngIf="isLoaded">
                <span id="zoomButtons">
      <button class="btn btn-primary btn-sm" (click)="zoomIn()">Zoom In</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary btn-sm" (click)="zoomOut()">Zoom Out</button>
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary btn-sm" (click)="setDefaultSize()">Default Size</button>
    </span>
                <span id="rotateButton">
        <button class="btn btn-info btn-sm" (click)="rotate()">Rotate</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-info btn-sm" (click)="rotateDefault()">Default Orientation</button>
    </span>
                <button class="btn btn-success btn-sm" (click)="prevPage()" [disabled]="page === 1">Prev</button>
                <span id="pageNumbers">{{ page }} / {{ totalPages }}</span>
                <button class="btn btn-success btn-sm" (click)="nextPage()" [disabled]="page === totalPages">Next</button>
            </div>

            <pdf-viewer [src]=urlPDF [show-all]="false" [page]="page" [zoom]="zoomLevel" [rotation]="rotationLevel" [render-text]="false" (after-load-complete)="afterLoadComplete($event)" [fit-to-page]="false" [original-size]="false"></pdf-viewer>

        </div>
    </div>
</div>