<div id="pipesDiv">
  <h3>Pipes: </h3>
  <br>
  <label for="newHero">New Flying Hero</label>&nbsp;&nbsp;
  <input type="text" #box
          (keyup.enter)="addHero2(box.value); box.value=''"
          placeholder="hero name">&nbsp;&nbsp;<input type="checkbox" #a (click)='flyingStatus();' name="canFly" id="canFly"> Can Fly <br>
  <button (click)="reset()" class='btn btn-warn'>Reset List</button>&nbsp;&nbsp;&nbsp;
  <button (click)="addHero2(box.value); box.value=''; a.checked=false;" class='btn btn-primary'>Add</button>&nbsp;&nbsp; 
  <button (click)="box.value=''; a.checked=false;" class='btn btn-secondary'>Clear</button>
  <br>
  <br>
  <h4>Heroes who fly</h4>
  <div *ngFor="let hero of (heros | flyingHeroes)">
    {{hero.name}}
  </div>
  <br>
  <br>
  <h4>All Heroes</h4>
  <div *ngFor="let hero of heros">
    {{hero.name}}
  </div>
  <br>
</div>
<br>
<br>
<hr>
<div id="strDirective">
  <h3>Structural Directive Example: </h3>
  <br>
  <p>The condition is currently {{condition}}</p>&nbsp;&nbsp;<button (click)='condition=!condition'>Click to toggle condition</button>
  <br>
  <br>
  <p *appUnless="condition" class="unless a">
    (A) This paragraph is displayed because the condition is false.
  </p>
  
  <p *appUnless="!condition" class="unless b">
    (B) Although the condition is true,
    this paragraph is displayed because appUnless is set to false.
  </p>
</div>
<br>
<br>
<hr>
<div id="attDirective">
  <h3>Attribute Directive Example: Highlight</h3>
  <br>
  <h5>Pick a color to highlight it</h5>
  <input type="radio" name="colors" (click)="color='green'">Green <br>
  <input type="radio" name="colors" (click)="color='red'">Red <br>
  <input type="radio" name="colors" (click)="color='pink'">Pink <br>
  <input type="radio" name="colors" (click)="color='yellow'">Yellow <br>
  <input type="radio" name="colors" (click)="color=''">Default <br>
  <br>
  <br>
  <p [appAttr]="color" [defaultColor]="'orange'">This is sample text. Bring your mouse here.</p>
  {{color}}
</div>
<br>
<br>
<hr>
<div id="ourHeroesForm">
  <h2>Little tour of our heroes</h2>
    <input #newHero
    (keyup.enter)="addHero(newHero.value)"
    (blur)="addHero(newHero.value); newHero.value='' ">

  <button (click)="addHero(newHero.value)">Add</button>


  <ul><li *ngFor="let hero of heroes">{{hero}}</li></ul>
<br>
<br>
</div>

