<!--The content below is only a placeholder and can be replaced.-->
<br>
<br>
<div class="container">
    <!--lazy loading-->
    <h3>Lazy Loading</h3>
    <br>
    <button routerLink='/customers'>Customers</button>
    <button routerLink='/orders'>Orders</button>
    <button routerLink=''>Home</button>
    <br>
    <router-outlet></router-outlet>
</div>
<hr>
<br>
<div class="container">
   <!--Observables-->
    <app-observ></app-observ>
</div>
<hr>
<br>
<div class="container">
    <app-our-heroes></app-our-heroes>
</div>
<hr>
<br>
<br>
<br>
<div class="container">
<h2>Job Application for Heroes</h2>
<app-dynamic-form [questions]="questions"></app-dynamic-form>
</div>
<br>
<hr>
<app-template-forms></app-template-forms>
<br>
<br>
<hr>
<app-reactive-forms></app-reactive-forms>
<br>
<hr>
<app-autofill></app-autofill>
<hr>
<app-pdf-viewer></app-pdf-viewer>

