<br>
<br>
<!--The content below is only a placeholder and can be replaced.-->
<!--Routing Example-->
<div class="container">
    <h1>Angular Router</h1>
    <nav>
        <a routerLink="/crisis-center" routerLinkActive="active" class="btn btn-primary btn-margin">Crisis Center</a>
        <a routerLink="/heroes" routerLinkActive="active" class="btn btn-warning btn-margin">Heroes</a>

        <!--Profile Routes-->
        <a routerLink="/profile" routerLinkActive="active" class="btn btn-warning btn-margin" (click)="toggleProfileMenu()">Profile</a>
        <div *ngIf="showProfileMenu">
            <a routerLink="/profile/manage-user" routerLinkActive="active" class="btn btn-warning btn-margin">Manage User</a>
            <a routerLink="/profile/settings" routerLinkActive="active" class="btn btn-warning btn-margin">Settings</a>
        </div>
        <!--To check the wildcard route-->
        <button routerLink="/sidekicks" class="btn btn-default btn-margin">Check sidekicks (Wildcard Routes)</button><br>
    </nav>
    <br>
    <br>
    <router-outlet></router-outlet>
</div>
<br>
<br>
<hr>
<br>
<!--PDF Viewer 2-->
<div class="container">
    <app-recent-uploads></app-recent-uploads>
</div>
<hr>
<br>
<br>
<!--PDF Viewer 2-->
<div class="container">
    <app-pdf-viewer2></app-pdf-viewer2>
</div>
<hr>
<br>
<br>
<!--Personalise NH-->
<div class="container">
    <app-personalise-nh></app-personalise-nh>
</div>
<br>
<br>
<hr>
<!--Reacting form2 example-->
<div class="container">
    <app-reactive-forms2></app-reactive-forms2>
</div>
<br>
<hr>
<br>
<br>
<div class="container">
    <!--lazy loading-->
    <h3>Lazy Loading</h3>
    <br>
    <button routerLink='/customers'>Customers</button>
    <button routerLink='/orders'>Orders</button>
    <button routerLink=''>Home</button>
    <br>
    <!-- <router-outlet></router-outlet> -->
</div>
<hr>
<br>
<div class="container">
    <!--Observables-->
    <app-observ></app-observ>
</div>
<hr>
<br>
<div class="container">
    <app-our-heroes></app-our-heroes>
</div>
<hr>
<br>
<br>
<br>
<div class="container">
    <h2>Job Application for Heroes</h2>
    <app-dynamic-form [questions]="questions"></app-dynamic-form>
</div>
<br>
<hr>
<app-template-forms></app-template-forms>
<br>
<br>
<hr>
<app-reactive-forms></app-reactive-forms>
<br>
<hr>
<app-autofill></app-autofill>
<hr>
<app-pdf-viewer></app-pdf-viewer>